@@include('includes/@layout-first.html', {
"pageTitle" : "Каталог",
"header": true,
"headerClass": ""
})

@@include('includes/components/_section-filters.html')

<div class="content">

    <section class="main container">
        
        @@include('includes/components/_aside-left.html')

        <main class="catalog">

            <section class="catalog__list">
                @@for (var i = 0; i < 5; i++) {
                <article class="catalog__item">
                    @@include('includes/components/_product-cart.html', {
                    "productCartCaption": "CASTA CST 224 DEMI",
                    "productCartPrice": "1200₽",
                    "productCartStickerType": "new" }
                    )
                </article>

                <article class="catalog__item in-basket">
                    @@include('includes/components/_product-cart.html', {
                    "productCartCaption": "Prada top man",
                    "productCartPrice": "5600₽",
                    "productCartStickerType": "top"}
                    )
                </article>

                <article class="catalog__item">
                    @@include('includes/components/_product-cart.html', {
                    "productCartCaption": "RayBan Pro2000",
                    "productCartPrice": "23000₽",
                    "productCartStickerType": "sales"}
                    )
                </article>
                }

            </section>
        </main>
    </section>
</div>

@@include('includes/components/_pagination.html')

@@include('includes/@layout-last.html', {
"footer" : true
})
