<!--@@include('includes/@layout-first.html', {-->
<!--"pageTitle" : "UI Guide",-->
<!--"header": true-->
<!--})-->

<style>
    body {
        font-family: Rubik, sans-serif;
    }

    a {
        text-decoration: none;
    }

    .ui {
        display: flex;
        flex-flow: row wrap;

        align-items: center;
        padding: 10%;
    }

    .ui-title {
        flex: 1 1 100%;
        margin-bottom: 30px;
    }

    .ui-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: 180px;
        height: 48px;

        margin: 0 20px 10px 0;
        padding: 0 20px;

        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        background-color: #00bd9d;
    }
</style>

<main class="content ui">
    <h1 class="ui-title">UI Гайдлайн по проекту Очки</h1>

    <a href="main.html" class="ui-button">Главная</a>

    <a href="catalog.html" class="ui-button">Каталог</a>

    <a href="product-page.html" class="ui-button">Карточка товара</a>

    <a href="shopping-cart.html" class="ui-button">Корзина</a>
</main>

@@include('includes/@layout-last.html', {
"footer" : false
})
