@@include('includes/@layout-first.html', {
"pageTitle" : "Карта товара",
"header": true,
"headerClass": ""
})
<!--@@include('includes/components/_section-filters.html')-->
<section class="section-filters">
    <div class="container section-filters__container">
        @@include('includes/components/_crumbs.html')

        <div class="section-filters__title--price">1400P <span class="quantity">2500P</span></div>
    </div>

</section>
<section class="d-flex">
    <div class="sticker m-auto">Новинка</div>
</section>

<main class="product-page__container container">

    <div class="product-page__info">
        <span class="product-page__availability">Есть в наличии</span>
        <h1 class="product-page__title">Солнцезащитные очки</h1>
        <h1 class="product-page__title">SUNDERSON SDS</h1>
        <h2 class="product-page__model">Модель sds-C3</h2>
        <div class="product-page__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Ut convallis ipsum et fringilla rutrum.
            Phasellus vulputate feugiat feugiat.
        </div>
        <div class="product-page__buttons">
            <button class="product-page__button">
                <i class="icon-btn--add-cart"></i>В корзину
            </button>
            <button class="product-page__button"><i class="icon-btn--add-favourite"></i>В избранное</button>
        </div>
        <span class="product-page__buy-by-one-click">Купить в один клик</span>

        <ul class="nav nav-tabs product-page__options" id="myTab" role="tablist">
            <li class="nav-item options__item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">
                    <div class="text-left">Параметры</div>
                </a>
            </li>
            <li class="nav-item options__item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Размеры</a>
            </li>
            <li class="nav-item options__item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Доставка и оплата</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita minima, totam.
                Aut consequuntur deserunt dolorum eaque excepturi expedita, explicabo ipsam,
                iure laudantium minima necessitatibus nisi quas rerum similique sint sit?

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="options__imgs">
                    <img class="options__img" src="/img/sizes-v.svg" alt="">
                    <img class="options__img" src="/img/sizes-h.svg" alt="">
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Sales</div>
        </div>
    </div>
    <div class="product-page__preview">

            <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('/img/slide1.png')"></div>
                <div class="swiper-slide" style="background-image:url('/img/slide2.png')"></div>
                <div class="swiper-slide" style="background-image:url('/img/slide3.png')"></div>
                <div class="swiper-slide" style="background-image:url('/img/slide4.png')"></div>
            </div>
            </div>
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url('/img/slide1.png')"></div>
                        <div class="swiper-slide" style="background-image:url('/img/slide2.png')"></div>
                        <div class="swiper-slide" style="background-image:url('/img/slide3.png')"></div>
                        <div class="swiper-slide" style="background-image:url('/img/slide4.png')"></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-prev swiper-button-white">
                    </div>
                    <div class="swiper-button-next swiper-button-white">
                    </div>
                    <!--<div class="swiper-pagination">-->
                </div>

    </div>

</main>

@@include('includes/@also-choose.html')
<!--@@include('includes/@also-choose.html')-->


@@include('includes/@layout-last.html', {
"footer" : true
})
