/*
`* In this file, all the variables associated with the project are stored.
//*/

//*  Content variables
//$contentWidthLg: rem(1600);
//$contentWidth: 90%;
//$contentWidthSm: rem(100);
//$contentPadding: rem(16);
//$contentGutter: rem(32/2);
//
//$wideScreens: (
//        phonesSm: 340px,
//        phones: 480px,
//        tablet: 760px,
//        laptop: 992px,
//        desktopSm: 1020px,
//        desktopMd: 1170px,
//        desktop: 1280px,
//        notebook: 1400px,
//        notebookLg: 1600px,
//        hd: 1800px,
//        retina: 2100px,
//        retina4k: 3656px,
//        retina5k: 5100px,
//        retina8k: 7600px
//);

//* Main sizes
$contentWidth: var(--content-width);
$contentPadding: var(--content-padding);
$contentGutter: rem(24);

$elemRadius: rem(4);

//$letterSpacing: rem(1.3);
//$letterSpacingSec: rem(5);

//* Root
:root {
  //* root sizes
  --content-width: #{rem(1248)}; //1200
  --content-padding: #{rem(24)};

  //* root color
  --cl-green: #00bd9d;
  --cl-lightgreen: #8bd7d2;
  --cl-lightgreen-lgt: #82d9c8;
  --cl-lightgreen-lgter: #c0e9e7;
  --cl-lightgreen-ftr: #75dbca;
  --cl-white-grn: #d2efe8;
  --cl-lightgreen-name: #d7f1f0;
  --cl-blue: #66cfe9;
  --cl-lightgray: #5c686f;
  --cl-lightgray-lgter: #f5f3f3;
  --cl-silver: #dbdedf;
  --cl-white: #fffbfa;
  --cl-dark-lgt: #293942;
  --cl-dark-plus: #425058;
  --cl-dark-lgter: #456067;
  --cl-dark:  #00131e;
}

$dark: #00131e;
$color-text: $dark;

$light-text: #757f85;
$lightgray: #5c686f;
$silver: #dbdedf;
$lightgreen: #8bd7d2;
$green: #00bd9d;
$blue: #66cfe9;
$price-name: #d7f1f0;
$footer-text: #75dbca;
$white: #fffbfa;

// * fonts
$font-path: "../fonts" !default;
$font-mp-path: $font-path + "/metapro/" !default;

$font-family-primary: 'Rubik', sans-serif;
//$font-family-secondary:
//$font-family-tertiary:

//* Icons
$icon-font-family: "icomoon" !default;
$icon-font-path: "../fonts/icons" !default;
//
////// * Font icons

$icon-icon-plus: "\e91c";
$icon-accessories-icon: "\e90e";
$icon-cases-icon: "\e90f";
$icon-drivers-icon: "\e910";
$icon-frames-icon: "\e911";
$icon-glasses-icon: "\e918";
$icon-sunscreen-icon: "\e91a";
$icon-icon-filter: "\e903";
$icon-f-rectangle: "\e900";
$icon-reload: "\e901";
$icon-f-round: "\e902";
$icon-search: "\e904";
$icon-sort-by: "\e905";
$icon-f-square: "\e906";
$icon-f-type-a: "\e907";
$icon-f-type-b: "\e908";
$icon-f-type-c: "\e909";
$icon-f-type-d: "\e90a";
$icon-f-type-e: "\e90b";
$icon-f-type-f: "\e90c";
$icon-validate-ok: "\e90d";
$icon-basket: "\e91b";
$icon-btn--add-cart: "\e912";
$icon-btn--add-favourite: "\e913";
$icon-home: "\e914";
$icon-icon-footer-mail: "\e915";
$icon-icon-footer-marker: "\e916";
$icon-loadmore: "\e917";
$icon-f-oval: "\e919";