@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ur314x');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ur314x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ur314x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ur314x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ur314x##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-plus {
  &:before {
    content: $icon-icon-plus; 
  }
}
.icon-accessories-icon {
  &:before {
    content: $icon-accessories-icon; 
  }
}
.icon-cases-icon {
  &:before {
    content: $icon-cases-icon; 
  }
}
.icon-drivers-icon {
  &:before {
    content: $icon-drivers-icon; 
  }
}
.icon-frames-icon {
  &:before {
    content: $icon-frames-icon; 
  }
}
.icon-glasses-icon {
  &:before {
    content: $icon-glasses-icon; 
  }
}
.icon-sunscreen-icon {
  &:before {
    content: $icon-sunscreen-icon; 
  }
}
.icon-icon-filter {
  &:before {
    content: $icon-icon-filter; 
  }
}
.icon-f-rectangle {
  &:before {
    content: $icon-f-rectangle; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-f-round {
  &:before {
    content: $icon-f-round; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-sort-by {
  &:before {
    content: $icon-sort-by;     
    color: #5c686f;
  }
}
.icon-f-square {
  &:before {
    content: $icon-f-square; 
  }
}
.icon-f-type-a {
  &:before {
    content: $icon-f-type-a; 
  }
}
.icon-f-type-b {
  &:before {
    content: $icon-f-type-b; 
  }
}
.icon-f-type-c {
  &:before {
    content: $icon-f-type-c; 
  }
}
.icon-f-type-d {
  &:before {
    content: $icon-f-type-d; 
  }
}
.icon-f-type-e {
  &:before {
    content: $icon-f-type-e; 
  }
}
.icon-f-type-f {
  &:before {
    content: $icon-f-type-f; 
  }
}
.icon-validate-ok {
  &:before {
    content: $icon-validate-ok; 
  }
}
.icon-basket {
  &:before {
    content: $icon-basket; 
  }
}
.icon-btn--add-cart {
  &:before {
    content: $icon-btn--add-cart; 
  }
}
.icon-btn--add-favourite {
  &:before {
    content: $icon-btn--add-favourite; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-icon-footer-mail {
  &:before {
    content: $icon-icon-footer-mail; 
  }
}
.icon-icon-footer-marker {
  &:before {
    content: $icon-icon-footer-marker; 
  }
}
.icon-loadmore {
  &:before {
    content: $icon-loadmore; 
  }
}
.icon-f-oval {
  &:before {
    content: $icon-f-oval; 
  }
}

