$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-plus: "\e91c";
$icon-accessories-icon: "\e90e";
$icon-cases-icon: "\e90f";
$icon-drivers-icon: "\e910";
$icon-frames-icon: "\e911";
$icon-glasses-icon: "\e918";
$icon-sunscreen-icon: "\e91a";
$icon-icon-filter: "\e903";
$icon-f-rectangle: "\e900";
$icon-reload: "\e901";
$icon-f-round: "\e902";
$icon-search: "\e904";
$icon-sort-by: "\e905";
$icon-f-square: "\e906";
$icon-f-type-a: "\e907";
$icon-f-type-b: "\e908";
$icon-f-type-c: "\e909";
$icon-f-type-d: "\e90a";
$icon-f-type-e: "\e90b";
$icon-f-type-f: "\e90c";
$icon-validate-ok: "\e90d";
$icon-basket: "\e91b";
$icon-btn--add-cart: "\e912";
$icon-btn--add-favourite: "\e913";
$icon-home: "\e914";
$icon-icon-footer-mail: "\e915";
$icon-icon-footer-marker: "\e916";
$icon-loadmore: "\e917";
$icon-f-oval: "\e919";

