<aside class="aside-left">
    <div class="aside-left__selected">
        Выбрано 7 фильтров
        <i class="icon-reload"></i>
    </div>

    <div class="aside-left__item">
        <div class="aside-left__item--title price--title">Цена</div>
        <div class="slider__content">
            <p>
                <input type="text"
                       class="ui-slider-tip" id="tip-from"
                       readonly>
                </input>
                <input type="text"
                       class="ui-slider-tip" id="tip-before"
                       readonly>
                </input>
            </p>

            <div id="slider-range"></div>
        </div>
    </div>

    <div class="aside-left__item">

        <span class="aside-left__item--title type-of-glasses--title">Тип очков</span>

        <div class="aside-left__item--content type-of-glasses-content">
            <div class="content__typeofs">

                <div class="checkbox">
                    <input type="checkbox" id="typea" class="checkbox__input"/>
                    <label for="typea" class="checkbox__label">
                        <i class="icon-f-type-a"></i>
                    </label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="typeb" class="checkbox__input"/>
                    <label for="typeb" class="checkbox__label">
                        <i class="icon-f-type-b"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="typec" class="checkbox__input"/>
                    <label for="typec" class="checkbox__label">
                        <i class="icon-f-type-c"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="typed" class="checkbox__input"/>
                    <label for="typed" class="checkbox__label">
                        <i class="icon-f-type-d"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="typee" class="checkbox__input"/>
                    <label for="typee" class="checkbox__label">
                        <i class="icon-f-type-e"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="typef" class="checkbox__input"/>
                    <label for="typef" class="checkbox__label">
                        <i class="icon-f-type-f"></i>
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="aside-left__item ">
        <div class="aside-left__item--title brand--title">Бренд</div>
        <div class="aside-left__item--content brand-content">
            <ul class="checkbox__links">
                <li class="checkbox__link">
                    <input type="checkbox" id="furla" class="link__input"/>
                    <label for="furla" class="link__label ">Furla <span class="quantity">128</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="gucci" class="link__input"/>
                    <label for="gucci" class="link__label">Gucci <span class="quantity">28</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="dior" class="link__input"/>
                    <label for="dior" class="link__label">Dior <span class="quantity">12</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="escada" class="link__input"/>
                    <label for="escada" class="link__label">Escada <span class="quantity">8</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="maxmara" class="link__input"/>
                    <label for="maxmara" class="link__label">Maxmara
                        <span class="quantity">28</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="carrera" class="link__input"/>
                    <label for="carrera" class="link__label">Carrera
                        <span class="quantity">41</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="police" class="link__input"/>
                    <label for="police" class="link__label">Police <span class="quantity">10</span></label>
                </li>

                <li class="checkbox__link">
                    <input type="checkbox" id="sanderson" class="link__input"/>
                    <label for="sanderson" class="link__label">Sanderson <span
                            class="quantity">13</span></label>
                </li>

            </ul>
        </div>
    </div>

    <div class="aside-left__item ">
        <div class="aside-left__item--title gender--title">Пол</div>
        <div class="aside-left__item--content gender-content">
            <ul class="checkbox__links">
                <li class="checkbox__link">
                    <input type="checkbox" id="wooman" class="link__input"/>
                    <label for="wooman" class="link__label">Женские <span class="quantity">28</span></label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="man" class="link__input"/>
                    <label for="man" class="link__label">Мужские <span class="quantity">41</span></label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="child" class="link__input"/>
                    <label for="child" class="link__label">Детские <span class="quantity">10</span></label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="unisex" class="link__input"/>
                    <label for="unisex" class="link__label">Унисекс <span class="quantity">13</span></label>
                </li>
            </ul>

        </div>
    </div>

    <div class="aside-left__item ">
        <div class="aside-left__item--title face-shape--title">Форма лица</div>
        <div class="aside-left__item--content face-shape-content">
            <ul class="checkbox__links">
                <li class="checkbox__link">
                    <input type="checkbox" id="Square" class="link__input"/>
                    <label for="Square" class="link__label">
                        <i class="icon-f-square"></i>
                        Квадратное
                    </label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="Round" class="link__input"/>
                    <label for="Round" class="link__label">
                        <i class="icon-f-round"></i>
                        Круглое
                    </label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="Oval" class="link__input"/>
                    <label for="Oval" class="link__label">
                        <i class="icon-f-oval"></i>
                        Овальное
                    </label>
                </li>
                <li class="checkbox__link">
                    <input type="checkbox" id="Rectangular" class="link__input"/>
                    <label for="Rectangular" class="link__label">
                        <i class="icon-f-rectangle"></i>
                        Прямоугольное
                    </label>
                </li>

            </ul>
        </div>
    </div>

    <div class="aside-left__item ">
        <div class="aside-left__item--title material--title">Материал оправы</div>
    </div>
    <!--<div class="aside-left__item&#45;&#45;content material-content"></div>-->

    <div class="aside-left__item ">
        <div class="aside-left__item--title rim-color--title">Цвет оправы</div>
        <div class="aside-left__item--content aside-left__item--content--colors rim-color-content ">

            <div class="colors__item">
                <input type="checkbox" id="black" class=""/>
                <label for="black" class="">
                    <div class="color black"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="blue" class=""/>
                <label for="blue" class="">
                    <div class="color blue"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="red" class=""/>
                <label for="red" class="">
                    <div class="color red"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="yellow" class=""/>
                <label for="yellow" class="">
                    <div class="color yellow"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="brown" class=""/>
                <label for="brown" class="">
                    <div class="color brown"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="deepblue" class=""/>
                <label for="deepblue" class="">
                    <div class="color deepblue"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="gray" class=""/>
                <label for="gray" class="">
                    <div class="color gray"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="coil" class=""/>
                <label for="coil" class="">
                    <div class="color coil"></div>
                </label>
            </div>


            <div class="colors__item">
                <input type="checkbox" id="lightgreen" class=""/>
                <label for="lightgreen" class="">
                    <div class="color lightgreen"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="white" class=""/>
                <label for="white" class="">
                    <div class="color white"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="midnightblue" class=""/>
                <label for="midnightblue" class="">
                    <div class="color midnightblue"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="brownwood" class=""/>
                <label for="brownwood" class="">
                    <div class="color brownwood"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="purple" class=""/>
                <label for="purple" class="">
                    <div class="color purple"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="oceanic" class=""/>
                <label for="oceanic" class="">
                    <div class="color oceanic"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="green" class=""/>
                <label for="green" class="">
                    <div class="color green"></div>
                </label>
            </div>

            <div class="colors__item">
                <input type="checkbox" id="orange" class=""/>
                <label for="orange" class="">
                    <div class="color orange"></div>
                </label>
            </div>


        </div>
    </div>
</aside>
