<section class="find-section">

    @@include('_main-title.html', {
    "mainTitle": "У нас вы найдете",
    "mainSubTitle": "смотреть всё",
    "mainTitlePlus": "",
    "show-moreIcon": "show-more--arrow-right"})

    <div class="catalog also-choose__catalog-list">
        <div class="catalog__main-item">
            <header class="main-item__header">
                <div class="main-item__title">Carrera <br>Pocket Flag</div>
                <div class="main-item__price">1045P</div>
            </header>
            <!--<img src="/img/catalog-main-item.png" class="main-item "/>-->

        </div>
        <div class="catalog__items">
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
        </div>

    </div>
</section>