<section class="home-page__banner">
    <!--<div class="banner__container container">-->
    <!--<h1 class="banner__title">Деловой стиль с очками <span>RayBan</span> 2017</h1>-->
    <!--<div class="banner__description">-->
    <!--Новая колекция от Ray Ban для тех кто хочет выглядеть стильно в деловом классе.-->
    <!--</div>-->
    <!--</div>-->
</section>