<section class="just-now-section">
    <div class="just-now__container container">
        <div class="just-now__info">
            <h1 class="just-now__title">Не упустите
                <span class="green">от 1240Р</span>
                <br>только сейчас</h1>
            <div class="just-now__description">
                Новое предложение для тех, кто занят и для тех, у кого нет
                возможности приехать в оптику, а новые солнцезащитные очки
                или оправа нужны уже сегодня
            </div>
            <button class="btn--watch">Смотреть</button>
        </div>
        <div class="just-now__preview"></div>
    </div>

</section>