<div class="main-title">
    <header class="main-title__container">
        <h1 class="main-title__h1">
                <span class="title__plus">
                    <i class="icon-icon-plus @@mainTitlePlus"></i>
                </span>
          @@mainTitle
        </h1>
        <a href="#" class="filter show-more @@show-moreIcon">
            @@mainSubTitle
        </a>
    </header>
</div>