<section class="more-goods">
    <div class="more-goods__container container ">
        <ul class="nav nav-tabs more-goods__tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">НОВЫЕ ПОСТУПЛЕНИЯ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">ТОП ПРОДАЖ</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">СПЕЦИАЛЬНЫЕ ПРЕЛОЖЕНИЯ</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade catalog show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="catalog__items">
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "new" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "new" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "new" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "new" }
                        )
                    </article>
                </div>
            </div>

            <div class="tab-pane fade catalog" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="catalog__items">
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "top" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "top" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "top" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "top" }
                        )
                    </article>

                </div>
            </div>

            <div class="tab-pane fade catalog" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="catalog__items">
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "sales" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "sales" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "sales" }
                        )
                    </article>
                    <article class="catalog__item">
                        @@include('/Web/glasses/src/html/includes/components/_product-cart.html', {
                        "productCartCaption": "CASTA CST 224 DEMI",
                        "productCartPrice": "1200₽",
                        "productCartStickerType": "sales" }
                        )
                    </article>
                </div>
            </div>
        </div>
        <button class="btn--show-more show-more--arrow-right">Смотреть больше</button>
    </div>

</section>