<section class="section-pagination">
    <div class="section-pagination--row container">
        <div class="pagination">
            <a href="#" class="pagination__link active">1</a>
            <a href="#" class="pagination__link">2</a>
            <a href="#" class="pagination__link">3</a>
            <a href="#" class="pagination__link">4</a>
            <a href="#" class="pagination__link">5</a>
            <a href="#" class="pagination__link">6</a>
            <a href="#" class="pagination__link">7</a>
            <a href="#" class="pagination__link">...</a>
        </div>
        <a class="filter show-more" href="#">Показать ещё</a>
    </div>
</section>
