<div class="product-cart">
    <header class="product-cart__top">
        <button class="btn--add-favorite" type="button">
            <i class="icon-btn--add-favourite"></i>
        </button>

        @@include('_sticker.html', {"stickerType": "@@productCartStickerType"})

        <button class="btn--add-cart" type="button">
            <i class="icon-btn--add-cart"></i>
        </button>
    </header>

    <figure class="product-cart__image">
        <img src="/img/glasses.png" alt="">
    </figure>

    <footer class="product-cart__bottom">
        <div class="product-cart__caption">@@productCartCaption</div>
        <div class="product-cart__price">@@productCartPrice</div>
    </footer>
</div>



