<section class="questions container">
    @@include('_main-title.html', {
    "mainTitle": "  Вопросы к нам?",
    "mainSubTitle": "Я хочу написать вам",
    "mainTitlePlus": "",
    "show-moreIcon": "show-more--arrow-right"})

    <div class="questions__container">

        <div class="questions__item">
            <div class="item__content">
                <h1>Как мне осуществить доставку</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__item">
            <div class="item__content">
                <h1>Как оформить заказ</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__item">
            <div class="item__content">
                <h1>Как сделать заказ</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="questions__item">
            <div class="item__content">
                <h1>Как подобрать размер</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__item">
            <div class="item__content">
                <h1>Как отследить заказ</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__item">
            <div class="item__content">
                <h1>Как мне осуществить доставку</h1>
                <div class="">Бесплатная доставка готовых очков – услуга, которая
                    обязательно понравится нашим клиентам.
                    <div class="plus">
                        <i class="icon-icon-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
