<section class="section-filters">
    <div class="container section-filters__container">

        <div class="section-filters__title">
            <i class="icon-icon-filter"></i>
            <span>Фильтры подбора</span>
        </div>

        <div class="section-filters__sort-by">
            @@include('_crumbs.html')
            <a href="#" class="sort-by">От дорогих
                <i class="icon-sort-by"></i>
            </a>
        </div>

    </div>
</section>