<section class="advantages">
    <div class="advantages__container container">
        <article class="advantages__item">
            <div class="item__text item__text--delivery">
                <h1 class="item__h1">Доставка по всей Росии</h1>
                <h2 class="item__h2">Мы доставим вам товар в любой регион Российской федерации.</h2>
            </div>
        </article>
        <article class="advantages__item">
            <div class="item__text">
                <h1 class="item__h1">Гарантия качества</h1>
                <h2 class="item__h2">Мы гарантируем вам качество предоставляемой продукции.</h2>
            </div>
        </article>
        <article class="advantages__item">
            <div class="item__text item__text--consultation">
                <h1 class="item__h1">Клиентская поддержка</h1>
                <h2 class="item__h2">Мы всегда с вами, и готовы ответить на любой возникший у вас вопрос.</h2>
            </div>
        </article>
    </div>
</section>