<section class="shopping-cart">
    <div class="shopping-cart__container container">

        <div class="shopping-cart__products">
            <h1 class="shopping-cart__h1">В корзине <strong>4</strong> товара</h1>
            <div class="products">
                <article class="products__item">
                    <div class="product-photo">
                        <img src="/img/glasses.png" alt="">
                    </div>
                    <div class="product-info">
                        <h1 class="product__name">Солнцезащитные очки <br> Sunderson SDS</h1>
                        <div class="product__parameters">
                            Модель SDS-C3<span>/</span>
                            Размер <strong>48x32</strong>
                            <span>/</span>Цвет
                        </div>
                    </div>
                    <div class="product-price">
                        <div class="product__quantity">
                            <div class="quantity-block">
                                <button class="quantity-arrow-minus"> -</button>
                                <input class="quantity-num" type="number" value="1"/>
                                <button class="quantity-arrow-plus"> +</button>
                            </div>
                        </div>
                        <div class="product__price">1200Р</div>
                    </div>
                </article>
                <article class="products__item">
                    <div class="product-photo">
                        <img src="/img/glasses.png" alt="">
                    </div>
                    <div class="product-info">
                        <h1 class="product__name">Солнцезащитные очки <br> Sunderson SDS</h1>
                        <div class="product__parameters">
                            Модель SDS-C3<span>/</span>
                            Размер <strong>48x32</strong>
                            <span>/</span>Цвет
                        </div>
                    </div>
                    <div class="product-price">
                        <div class="product__quantity">
                            <div class="quantity-block">
                                <button class="quantity-arrow-minus"> -</button>
                                <input class="quantity-num" type="number" value="1"/>
                                <button class="quantity-arrow-plus"> +</button>
                            </div>
                        </div>
                        <div class="product__price">1200Р</div>
                    </div>
                </article>
                <article class="products__item">
                    <div class="product-photo">
                        <img src="/img/glasses.png" alt="">
                    </div>
                    <div class="product-info">
                        <h1 class="product__name">Солнцезащитные очки <br> Sunderson SDS</h1>
                        <div class="product__parameters">
                            Модель SDS-C3<span>/</span>
                            Размер <strong>48x32</strong>
                            <span>/</span>Цвет
                        </div>
                    </div>
                    <div class="product-price">
                        <div class="product__quantity">
                            <div class="quantity-block">
                                <button class="quantity-arrow-minus"> -</button>
                                <input class="quantity-num" type="number" value="1"/>
                                <button class="quantity-arrow-plus"> +</button>
                            </div>
                        </div>
                        <div class="product__price">1200Р</div>
                    </div>
                </article>
                <article class="products__item">
                    <div class="product-photo">
                        <img src="/img/glasses.png" alt="">
                    </div>
                    <div class="product-info">
                        <h1 class="product__name">Солнцезащитные очки <br> Sunderson SDS</h1>
                        <div class="product__parameters">
                            Модель SDS-C3<span>/</span>
                            Размер <strong>48x32</strong>
                            <span>/</span>Цвет
                        </div>
                    </div>
                    <div class="product-price">
                        <div class="product__quantity">
                            <div class="quantity-block">
                                <button class="quantity-arrow-minus"> -</button>
                                <input class="quantity-num" type="number" value="1"/>
                                <button class="quantity-arrow-plus"> +</button>
                            </div>
                        </div>
                        <div class="product__price">1200Р</div>
                    </div>
                </article>

            </div>
            <div class="shopping-cart__total">
                <h1 class="shopping-cart__h1">Итого к оплате <strong>4800Р</strong></h1>
            </div>
        </div>
        <div class="shopping-cart__info">
            <h1 class="shopping-cart__h1">Информация о заказе</h1>
            <div class="info__container">
                <form class="form">
                    <fieldset>
                        <legend>Данные покупателя</legend>
                        <div class="shopping-cart__customer">
                            <div class="form-group customer__name">
                                <label for="name">Имя</label>
                                <input type="text" class="form-control" placeholder="Как вас зовут?" id="name">
                            </div>
                            <div class="form-group customer__phone">
                                <label for="phone">Телефон</label>
                                <input type="tel" class="form-control" placeholder="Телефон для связи" id="phone">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <form class="form">
                    <fieldset>
                        <legend>Выберите способ доставки</legend>
                        <div class="shopping-cart__delivery">
                            <div class="delivery__service">
                                <div class="content__typeofs">

                                    <div class="checkbox">
                                        <input type="checkbox" id="cdek" class="checkbox__input"/>
                                        <label for="cdek" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="pony-ex" class="checkbox__input"/>
                                        <label for="pony-ex" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="foxe" class="checkbox__input"/>
                                        <label for="foxe" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="rus" class="checkbox__input"/>
                                        <label for="rus" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="city-ex" class="checkbox__input"/>
                                        <label for="city-ex" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="bms" class="checkbox__input"/>
                                        <label for="bms" class="checkbox__label">
                                            <img src="/img/pony-express.svg" alt="">
                                        </label>
                                    </div>

                                </div>
                                <div class="delivery__point">
                                    <div class="delivery__input">
                                        <input type="radio" id="by-courier" name="delivery-method"
                                               value="Курьером домой"
                                               class="delivery-checkbox">
                                        <label for="by-courier">Курьером домой</label>
                                    </div>
                                    <div class="delivery__input">
                                        <input type="radio" id="in-office" name="delivery-method"
                                               value="В отделении службы доставки"
                                               class="delivery-checkbox">
                                        <label for="in-office">В отделении службы доставки</label>
                                    </div>
                                    <div class="delivery__input">
                                        <input type="radio" id="manual" name="delivery-method"
                                               value="Забрать самовывозом"
                                               class="delivery-checkbox">
                                        <label for="manual">Забрать самовывозом</label>
                                    </div>
                                </div>
                                <div class="delivery__address">
                                    <select class="form-control">
                                        <option value="" disabled selected>Страна</option>
                                        <option>Россия</option>
                                        <option>Украина</option>
                                        <option>Кипр</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="" disabled selected>Город</option>
                                        <option>Москва</option>
                                        <option>Киев</option>
                                        <option>Никосия</option>
                                    </select>

                                </div>
                                <div class="delivery__department">
                                    <select class="form-control">
                                        <option value="" disabled selected>Выберите отделение</option>
                                        <option>Отделение 1</option>
                                        <option>Отделение 2</option>
                                        <option>Отделение 3</option>
                                    </select></div>

                            </div>
                    </fieldset>
                    <div class="delivery__department delivery__pay-by">
                        <select class="form-control">
                            <option value="" disabled selected>Способ оплаты</option>
                            <option>Картой</option>
                            <option>Наличными</option>
                        </select>
                    </div>
                    <div class="shopping-cart__bottom">
                        <div class="delivery__input">
                            <input type="radio" id="don't-call" name="delivery-call" value="В отделении службы доставки"
                                   class="delivery-checkbox">
                            <label for="don't-call">Можно не перезванивать</label>
                        </div>
                        <button class="btn--watch" type="submit">Оформить</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>