@@if (stickerType === "new") {
<div class="sticker">Новинки</div>
}

@@if (stickerType === "top") {
<div class="sticker sticker--azure">Топ</div>
}

@@if (stickerType === "sales") {
<div class="sticker sticker--red">Скидка 10%</div>
}
