<section class="we-work container">
    @@include('_main-title.html', {
    "mainTitle": "Мы работаем с брендами",
    "mainSubTitle": "Смотреть все бренды",
    "mainTitlePlus": "green-plus",
    "show-moreIcon": "show-more--arrow-right"})

    <div class="we-work__content">
        <div class="content__item"><img class="" src="/img/morel.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/maxmara.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/escada.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/persol.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/oakley.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/morel.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/maxmara.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/escada.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/oakley.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/morel.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/morel.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/maxmara.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/escada.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/oakley.svg" alt=""></div>
        <div class="content__item"><img class="" src="/img/morel.svg" alt=""></div>

    </div>
</section>