<section class="why-we">
    <div class="why-we__container">
        <div class="why-we__description ">
            <div class="description__container">
                <div class="description__item description__item--delivery-icon">
                    <!--<img class="description__photo" src="/img/warranty.svg" alt="">-->
                    <div class="description__text ">
                        <h1>Доставка по всей Росии</h1>
                        <h2>Мы доставим вам товар влюбой регион Российской федерации.</h2>
                    </div>
                </div>
                <div class="description__item">
                    <div class="description__text">
                        <h1>Гарантия качества</h1>
                        <h2>
                            Мы гарантируем вам качество предостваляемой нами продукцие.</h2>
                    </div>
                </div>
                <div class="description__item description__item--consultation-icon" >
                    <div class="description__text">
                        <h1>Квалифицированая консультация</h1>
                        <h2>
                            Мы доставим вам товар влюбой регион Российской федерации.</h2>
                    </div>
                </div>
                <div class="description__item description__item--support-icon">
                    <div class="description__text"><h1>Клиенская поддержка</h1>
                        <h2>
                            Мы всегда с вами, и готовы ответить на лубой возникший у вас вопрос.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-we__form ">
            <div class="form__container">
                <h1>Быстро получить оптовый прайс</h1>
                <div class="form__description">
                    Наш магазин работает и с оптовыми клиентами, много продукци
                    и по хорошим ценам вы можете приобрести у нас, просто отправьте
                    запрос, и получите наш оптовой прайс.
                </div>
                <div class="form__inputs">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Ваш E-Mail">
                    <input type="text" placeholder="Номер телефона">
                    <button class="btn--price">Получить прайс</button>
                </div>

            </div>
        </div>
    </div>

</section>