<section class="main-title also-choose">

    <div class="also-choose__container">
        @@include('components/_main-title.html', {
        "mainTitle": "У нас также выбирают",
        "mainSubTitle": "показать другие",
        "mainTitlePlus": "",
        "show-moreIcon": "show-more--arrow-right"})

        <div class="catalog also-choose__catalog-list">
            <!--@@include('includes/components/_product-cart.html')-->
            <article class="catalog__item">
                @@include('components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "" }
                )
            </article>
            <article class="catalog__item">
                @@include('components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "top" }
                )
            </article>
            <article class="catalog__item">
                @@include('components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "" }
                )
            </article>
            <article class="catalog__item">
                @@include('components/_product-cart.html', {
                "productCartCaption": "CASTA CST 224 DEMI",
                "productCartPrice": "1200₽",
                "productCartStickerType": "new" }
                )
            </article>
        </div></div>
</section>