<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Glasses - @@pageTitle</title>

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    @@include('_css-sources.html')
</head>
