<!--swiper-->

<!--<link rel="stylesheet" href="../../sass/libs/swiper.min.css">-->
<!--<link rel="stylesheet" href="../../../node_modules/swiper/dist/css/swiper.css">-->
<!--<link rel="stylesheet" href="../../sass/libs/swiper.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<link rel="stylesheet" href="/../glasses/src/sass/libs/swiper.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<!--<script src="https://kit.fontawesome.com/c674a7148a.js"></script>-->
<!--<link rel="stylesheet" href="../../fonts/fontawesome-free-5.9.0-desktop">-->
<link rel="stylesheet" href="https://i.icomoon.io/public/temp/8a9fcb5d9c/UntitledProject/style.css">

<link rel="stylesheet" href="css/main.css">

