<footer>
    <div class="container">
        <div class="section-footer">
            <div class="section-footer__item">
                <h1 class="section-footer__item--title">Свяжитесь с нами</h1>
                <ul class="section-footer__item--phones">
                    <li><a href="tel:89205532590"><span class="gray">+8 920 </span>553 25 90</a></li>
                    <li><a href="tel:89056745410"><span class="gray">+8 905 </span>674 54 10</a></li>
                </ul>
            </div>
            <div class="section-footer__item">
                <h1 class="section-footer__item--title">Любые онлайн платежи</h1>
                <div class="section-footer__item--payment">
                    <a href="#" class="payment__item mastercard"></a>
                    <a href="#" class="payment__item yamoney"></a>
                    <a href="#" class="payment__item sberbank"></a>
                    <a href="#" class="payment__item visa"></a>
                    <a href="#" class="payment__item paypal"></a>
                    <a href="#" class="payment__item webmoney"></a>
                </div>
            </div>
            <div class="section-footer__item section-footer__item--links">

                <a href="#" class="section-footer__item--link">Программы лояльности</a>
                <a href="#" class="section-footer__item--link">Организовать доставку</a>
                <a href="#" class="section-footer__item--link">Обмен и возврат</a>
                <a href="#" class="section-footer__item--link">Отзывы о компании</a>
                <a href="#" class="section-footer__item--link">О нас</a>

            </div>
        </div>
        <div class="section-footer section-footer__contact-us">
            <div class="section-footer__item section-footer__item--address">
                <a href="mailto:info@очки31.рф">
                    <div class="address__link">
                        <img class="address__link--img"
                             src="/img/icon-footer-mail.svg"
                             alt=""> info
                        <span class="gray">@</span>
                        очки31.рф
                    </div>
                </a>
                <a href="https://goo.gl/maps/EMcxn5Gx8M22">
                    <div class="address__link">
                        <img class="address__link--img"
                             src="/img/icon-footer-marker.svg"
                             alt="">
                        г. Белгород, п-т Гагарина 17
                    </div>
                </a>

            </div>
            <div class="section-footer__item section-footer__item--socials">
                <!--<img class="socials__item" src="/img/Group 2.png" alt="">-->
                <a href="" class="socials__item"><i class="fab fa-xs fa-facebook-f "></i>facebook</a>
                <!--<img class="socials__item" src="/img/facebook.png" alt="">-->
                <a href="" class="socials__item"><i class="fab fa-vk"></i>Вконтакте</a>
                <!--<img class="socials__item" src="/img/vk.png" alt="">-->

                    <a href="" class="socials__item"><i class="fab fa-google-plus-g"></i>Google plus</a>

                <!--<img class="socials__item" src="/img/google-plus.png" alt="">-->
            </div>
        </div>
    </div>
    <div class="section-footer__licence">
        <div class="licence__container container">

            <div class="licence__item">
                ©2017 Очки31. Все права защищены
            </div>
            <div class="licence__item">
                <img src="/img/twic.png" alt="">
            </div>

        </div>
    </div>
</footer>
