<header class="header @@headerClass">
    <div class="container">
        <div class="header__first">
            <a href="#" class="header__logo"></a>

            <div class="header__info">
                <a href="#" class="info__item">
                    Доставка
                </a>
                <a href="#" class="info__item">
                    О нас
                </a>
                <a href="#" class="info__item">
                    Контакты
                </a>
                <div class="info__item phone__block">
                    <a href="tel:89205532590">
                        <span class="lightgray">+8 920 </span>5532590</a>
                    <a href="mailto:info@очки31.рф">
                        <div class="mail__block">info@очки31.рф</div>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu" class="header__menu default">
            <div class="header__menu--container ">
                <div class="menu menu--is-icon dropdown show">
                    <a href="#" role="button" id="dropdownGlasses" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle">
                        Очки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownGlasses">
                        <a class="dropdown-item" href="#">Bellesa</a>
                        <a class="dropdown-item" href="#">Dario</a>
                        <a class="dropdown-item" href="#">Kaizi</a>
                    </div>
                    <a href="#" role="button" id="dropdownFrames" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle active">
                        Оправы
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownFrames">
                        <a class="dropdown-item" href="#">Bellesa</a>
                        <a class="dropdown-item" href="#">Carrera</a>
                        <a class="dropdown-item" href="#">Escada</a>
                    </div>
                    <a href="#" role="button" id="dropdownSunscreen" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle">
                        Солнцезащитные
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownSunscreen">
                        <a class="dropdown-item" href="#">Furla</a>
                        <a class="dropdown-item" href="#">Maxmara</a>
                        <a class="dropdown-item" href="#">Sanderson</a>
                    </div>
                    <a href="#" role="button" id="dropdownDrivers" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle">
                        Водительские
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownDrivers">
                        <a class="dropdown-item" href="#">Furla</a>
                        <a class="dropdown-item" href="#">Maxmara</a>
                        <a class="dropdown-item" href="#">Sanderson</a>
                    </div>
                    <a href="#" role="button" id="dropdownCases" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle">
                        Футляры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownCases">
                        <a class="dropdown-item" href="#">Furla</a>
                        <a class="dropdown-item" href="#">Maxmara</a>
                        <a class="dropdown-item" href="#">Sanderson</a>
                    </div>
                    <a href="#" role="button" id="dropdownAccessories" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="menu__link dropdown-toggle">
                        Аксессуары
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAccessories">
                        <a class="dropdown-item" href="#">Furla</a>
                        <a class="dropdown-item" href="#">Maxmara</a>
                        <a class="dropdown-item" href="#">Sanderson</a>
                    </div>
                    <!--<a href="#" role="button" id="dropdownWorkshop" data-toggle="dropdown" aria-haspopup="true"-->
                       <!--aria-expanded="false"-->
                       <!--class="menu__link dropdown-toggle">-->
                        <!--Мастерская-->
                    <!--</a>-->
                    <div class="dropdown-menu" aria-labelledby="dropdownWorkshop">
                        <a class="dropdown-item" href="#">Furla</a>
                        <a class="dropdown-item" href="#">Maxmara</a>
                        <a class="dropdown-item" href="#">Sanderson</a>
                    </div>
                </div>
                <div class="menu__links">

                    <div class="menu__form menu__search search">
                        <input type="text" id="search" class="search" placeholder="Введите поисковый запрос"/>
                        <i class="icon-search"></i>
                    </div>
                    <div class="menu__form basket__counter">
                        <i class="icon-basket"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
