.also-choose,
.also-choose__container,
.also-choose__header,
.also-choose__catalog-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.also-choose {
  padding: rem(100) 0rem;
  &__container {
    flex-direction: column;

    margin-left: auto;
    margin-right: rem(60);
    text-align: left;

    max-width: rem(1545);
    min-width: 20rem;
    width: 100%;
  }
  &__header {
    max-width: rem(1545);
    min-width: 20rem;
    width: 100%;
  }
  &__catalog-list{
    width: 100%;
  }
}
