//Beginning of Aside main rules
.aside-left {
  text-transform: uppercase;
  width: 20.86rem;
  height: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 20.86rem;

    font-size: 0.8rem;
    font-weight: 300;
    color: $light-text;
    text-transform: none;
    padding-top: 1.2rem;
    padding-left: 0.65rem;

    .icon-reload {
      margin-right: 1rem;
      transition: 3s;
      &:hover {
        transform: rotate(720deg);
        transition: 6s;
        animation-iteration-count: infinite;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    //justify-content: space-between; If u wanna use font, u should take it
    transition: 1s;
    &--title{
      display: inherit;
      align-items: center;

      background: url("/img/arrow-bottom.svg") $silver no-repeat 95% 50%;
      height: 2.66rem;
      padding-left: 0.67rem;
    }
    &--content {
      display: inherit;
      flex-wrap: wrap;
      font-size: 0.95rem;

      border: dashed 1px $silver;
      border-top: none;
      margin-bottom: 0.67rem;
      font-weight: bold;
    }
  }
  & ul, li {
    width: 100%;
    box-sizing: border-box;
  }

}

.quantity {
  border-radius: 0.4rem;
  background-color: #293942;
  padding: 1px 5px 0px;

  font-size: 0.67rem;
  font-weight: normal;
  text-transform: lowercase;
  color: $white;
  vertical-align: top;
}