.catalog {
  &__list {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 1rem;
    padding-top: 1rem;

    max-width: rem(887); //887
    min-width: rem(445);

  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: rem(275);
    min-width: 10rem;
    height: auto;

    padding-top: 1.34rem;
    margin: auto;

    &:hover {
      & .product-cart__image:before {
        content: "";
        background: rgba(0, 189, 157, 0.11) !important;
        position: absolute;
        width: 100%;
        height: 13.6rem;
      }
    }
  }

  .product-cart {

    &__sticker {
      display: flex;
      align-items: center;

      position: absolute;
      top: 8%;
      left: 50%;

      transform: translateX(-50%);
    }
    &__top {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding-left: 5%;
      padding-top: 10px;
      //left: 50%;
      margin: auto;
      opacity: 1;
      transition: 0.3s;
      position: absolute;

      button {
        border: none;
        background: inherit;
        cursor: pointer;
        z-index: 5;
        opacity: 0;
        :hover{
          color: var(--cl-green);
        }
      }

    }

    &__image {
      background-size: cover;
      //max-width: 18.33rem;
      //min-width: 10rem;
      width: 100%;
      max-width: rem(275);
      min-width: 5rem;
      height: 13.6rem;
      img {
        @extend .product-cart__image
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
    }
    &__caption {
      background-color: var(--cl-lightgreen-name);

      padding-left: 0.6rem;
      padding-right: 0.6rem;
      flex: 2 2;
    }
    &__price {
      background-color: var(--cl-blue);
      font-weight: bold;

      padding-left: 0.6rem;
      padding-right: 0.6rem;
    }
  }

  &__item:hover {
   button{
     opacity: 1;
   }
  }
}

