.aside-left{
.checkbox {
  &__links {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__link {
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      background-color: rgba(219, 222, 223, 0.25);
      color: $green !important;
      box-sizing: border-box;
      & label {
        color: $green !important;
      }
      & .quantity {
        background-color: $green;
      }
    }
  }
  &__label{
    font-size: 1.28rem!important;
  }
}
.link__input:checked ~ .link__label {
  color: $lightgreen !important;
  & .quantity {
    background-color: $lightgreen !important;
  }
}
/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}

/* стили для метки */
label {
  color: #00131e;
  font-size: 0.95rem;
  cursor: pointer;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
  content: " ";
  color: #8bd7d2;
  display: inline-flex;

  position: relative;
  left: 90%;

  text-align: center;
  width: 20px;
  height: 20px;
  background: inherit;

  border-image: initial;
  vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: "✓";
  position: relative;
  font-weight: bold;

}

/* disabled */
input:disabled + label:before {
  background: inherit;
  color: inherit;
}
}