.crumbs {
  display: flex;
  align-items: center;
  padding-left: 2rem;

  font-size: 0.89rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--cl-lightgray);

  &:before {
    content: "";
    position: absolute;

    background: url("/img/home.svg") no-repeat;
    background-size: contain;

    width: 1.46rem;
    height: 1.3rem;
    margin-left: -1.2rem;
    z-index: 55;
  }
  &__home {
    background: $silver;
    padding-left: 1rem;
    padding-right: 0.8rem;
    height: 1.34rem;
    position: relative;
    z-index: 5;
    &:before {
      content: "";
      border: 0.68rem solid transparent;
      border-left: 0.68rem solid #FFFFFF;
      margin-left: -1rem;
      position: absolute;
    }

    &:after {
      content: "";
      border: 0.68rem solid transparent;
      border-left: 0.7rem solid #DBDEDF;
      margin-left: 0.79rem;
      position: absolute;
    }
  }
  &__category {
    background: #c2efe8;
    padding-left: 1rem;
    padding-right: 0.8rem;
    height: 1.34rem;
    margin-left: 4px;

    &:before {
      content: "";
      border: 0.68rem solid transparent;
      border-left: 0.68rem solid #FFFFFF;
      margin-left: -1rem;
      position: absolute;
    }
    &:after {
      content: "";
      border: 0.68rem solid transparent;
      border-left: 0.7rem solid #c2efe8;
      margin-left: 0.79rem;
      position: absolute;
    }
  }
}
