.dropdown-menu {
  font-family: $font-family-primary !important;

  padding: 0rem;
  border: 0px;
  border-top: 3px solid var(--cl-green);
  border-radius: 0rem;

  color: var(--cl-white);
  text-transform: uppercase;
  font-size: 0.93rem;

  background: var(--cl-lightgreen-lgt);
  :hover {
    color: var(--cl-dark) !important;
    font-weight: bolder;
    background: var(--cl-white-grn);
    max-width: 8.7rem;
  }
}

.dropdown-item {
  padding: 0.25rem 0.5rem;
  &:hover {
    padding-left: 0.8rem;
  }
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle:hover .dropdown-menu {display: block;}
