//Beginning of Colors
.aside-left__item--content--colors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;

  margin: auto;
  /* прячем input checkbox */
  input[type="checkbox"] {
    display: none;
  }

  /* стили для метки */
  label {
    color: $dark;
    font-size: 1rem;
    cursor: pointer;

  }

  /* формируем внешний вид чекбокса в псевдоэлементе before */
  label:before {
    content: " ";
    color: $lightgreen;
    position: relative;
    width: 1.33rem;
    height: 1.33rem;
    //
    //display: none;

  }

  /* вариации внешнего вида в зав-ти от статуса checkbox */
  /* checked */

  input:checked + label:before {
    content: "";
    position: relative;
    top: 26px;
    left: 5px;

    font-weight: bold;
    width: 1.066rem;
    height: 1.066rem;
    border: 4px solid $lightgreen;

    border-radius: 23%;
  }

  /* disabled */
  input:disabled + label:before {
    background: inherit;
    color: inherit;
  }

  //Colors
  .colors__item {
    display: flex;
    height: 3.67rem;
    &:hover{
      transform: scale(1.1);
    }
  }
  .color {

    width: 1.33rem;
    height: 1.33rem;
    border-radius: 3px;

    margin: 0.33rem 0.4rem;
    &.black {
      background: black;
    }
    &.blue {
      background-color: #4F90EC;
    }
    &.red {
      background-color: red;
    }
    &.yellow {
      background-color: yellow;
    }
    &.brown {
      background-color: brown;
    }
    &.deepblue {
      background-color: deepskyblue;
    }
    &.gray {
      background-color: gray;
    }
    &.coil {
      background-color: #554a48;
    }
    &.lightgreen {
      background-color: lightgreen;
    }
    &.white {
      background-color: whitesmoke;
    }
    &.midnightblue {
      background-color: blue;
    }
    &.brownwood {
      background-color: sandybrown;
    }
    &.purple {
      background-color: purple;
    }
    &.oceanic {
      background-color: #4faafd;
    }
    &.green {
      background-color: green;
    }
    &.orange {
      background-color: orange;
    }
  }

}

//End of colors