.find-section{
  max-width: rem(1545);
  padding-right: rem(50);
  margin-left: auto;
}
.catalog__items {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.catalog__main-item {
  flex: 2;
  margin-top: 18px;
  padding-bottom: 10px;
  border-left: 3px solid var(--cl-green);

  background: url("/img/catalog-main-item.png") no-repeat bottom;
  background-size: contain;
  width: inherit;
  height: rem(495);
  max-width: rem(550);

  position: relative;
}
.catalog__main-item:before {
  content: "";
  position: absolute;
  background-color: rgba(191, 223, 206, 0.15);

  width: 100%;
  height: 100%;
}

.main-item {

  &__header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: rem(24);
    position: relative;
    z-index: 5;
  }
  &__title {
    text-transform: uppercase;
    color: var(--cl-dark-plus);
    padding-left: 3rem;
    padding-top: 3rem;
  }
  &__price {
    display: inherit;
    margin-left: auto;

    color: var(--cl-lightgreen);
    background-color: var(--cl-dark);
    padding: 0.25rem 0.75rem;
  }
}
