//For Hiding items
.disabled {
  border: dashed 1px $lightgreen;
  background-color: $green;
  color: $lightgreen;
  transition: 0.3s;
  height: 2.66rem;
  box-sizing: border-box;
  background: rgba(139, 215, 210, 0.1) url("/img/arrow-left-green.svg") no-repeat 95% 50%;
}

.aside-left__item--closed ~ .aside-left__item--content {
  display: none;
}

.aside-left__item--closed ~ .slider__content {
  display: none;
}

//
.hide {
  display: none;
}

.turned-off {
  border-bottom: 3px solid var(--cl-dark-lgter) !important;
  color: var(--cl-dark-lgter);
  background: var(--cl-lightgray-lgter);
}

.bbtransparent {
  padding-left: 2.1rem;
  border-bottom: 3px solid transparent;

  max-width: 3rem;
  min-width: 3rem;
  flex: 1;
  span {
    display: none;
  }
}

.bbtransparent ~ .section-filters__sort-by {
  width: 100%;
  max-width: 100%;
}

.fullscreen {
  width: 100%;
  max-width: 100%;
}

//For Hiding items