.home-page__banner {
  display: flex;

  width: 100%;
  min-width: 15rem;
  min-height: 10rem;
  height: 100vh;

  box-sizing: border-box;
  background-size: cover;
  background: url("/img/home-slider-01.png") center no-repeat;
  max-height: 1080px;
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .home-page__banner {
 background-size: 150%;
    height: rem(800)!important;
    margin-bottom: rem(40);
  }
}
