.just-now {
  &-section {
    margin: rem(180) auto rem(160);
  }
  &__container {
    display: flex;
  }
  &__info {
    background: url("/img/just-now.png") no-repeat center;

    background-size: 65%;

    display: inherit;
    flex-direction: column;
    padding-top: rem(160);
    padding-bottom: rem(140);
    flex: 1;
    border-top: 1px solid lightgrey;
  }
  &__title {
    color: var(--cl-dark-lgt);
    font-size: rem(24);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &__description {
    max-width: rem(560);
    color: var(--cl-lightgray);
    font-size: rem(18);

  }

  &__preview {
    background: url("/img/just-now-glasses.png") no-repeat bottom;
    background-size: cover;
    width: inherit;
    height: inherit;
    display: inherit;
    flex: 1;
    border-bottom: 1px solid lightgrey;
  }
}

