.main-title {
  padding: rem(40) 0rem;
  text-align: left;
  .main-title,
  .main-title__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__container {
    border-bottom: 1px solid lightgrey;
  }
  &__h1 {
    font-size: rem(40);
    text-transform: uppercase;
    color: var(--cl-green);
    margin-left: rem(-16);
    .title__plus {
      color: var(--cl-dark-plus) !important;
      display: flex;
      justify-content: space-between;

    }
    .icon-icon-plus {
      font-size: rem(20);
      vertical-align: top;
      margin-left: -1.2rem;
      margin-bottom: -1.4rem;
      //margin-right: -0.8rem;
    }
    //title__plus=normal plus color
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .main-title {
    &__h1 {
      margin-left: 2rem;
    }
    .title__plus {
      margin-top: -2rem;
    }
  }
}