.more-goods {
  margin: rem(20) auto rem(125);
  &__tabs {
    max-width: rem(710);
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  .product-page__options {
    max-width: 40rem;
  }
  &__container {

    .nav-link {
      padding: rem(4) rem(0);
      border: none;
      border-bottom: 1px solid transparent;
      margin-bottom: 0px;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
      border: none;
    }
    .nav-item,.nav-link {
      color: var(--cl-lightgray);
      font-weight: bold;
      .active {
        border: none;
        color: var(--cl-dark)!important;
        border-bottom: 1px solid var(--cl-green) !important;
        background: var(--cl-white);
      }
    }

    .nav-tabs {
      border-bottom: none;
      .tab-pane {
        border: none;
        padding: rem(10) rem(0);
        text-transform: none;
        max-width: rem(530);
      }
    }
    .tab-content{
      margin: rem(50) rem(0);
    }
  }
}