.section-pagination {
  margin: 60px auto;
  border-top: 1px solid lightgray;

  &,
  .section-pagination--row,
  .pagination {
    display: flex;
    justify-content: space-between;
  }
}

.pagination {
  //max-width: $contentWidth;
  //padding: 0 $contentPadding;
  //box-sizing: border-box!important;
  position: relative;
  bottom: 2px;

  &__link {
    font-weight: bold;
    padding: 0.9rem 10px 0px;
    border-top: 3px solid transparent;

    &.active,
    &:active {
      color: $green;
      border-top: 3px solid $green;
    }
  }
}


//End of Pagination
