//Beginning of Price
.aside-left__item--content {
  display: flex;
  justify-content: space-around;

  & .item--filter {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }
}
//End of Price
//slider
.slider__content {
  width: 100% !important;
  box-sizing: border-box;
  margin: auto;
  padding: 1rem 10%;
  text-align: center;
  border: dashed 1px #dbdedf;
  border-top: none;
}

.price-content {
overflow: hidden;
}

#amount, .ui-slider-tip {
  margin-top: 1.33rem;
  border: none;

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

#slider-range {
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  height: 2px;
  background-color: #c0e9e7;
  border: none;
  *{
    outline: none;
  }
}

.ui-widget-header {
  background-color: #00131e !important;
}

.ui-state-default {
  background-color: #8bd7d2 !important;
  border: none !important;
  border-radius: 50% !important;
  top: -.4em !important;
  width: 12px !important;
  height: 12px !important;
  &:before {
    content: "";
  }
}

#tip-from, #tip-before {
  position: absolute;
  background: none;
  max-width: 65px;

}

#tip-from {
  margin-top: 2rem !important;
}

#tip-before {
  margin-top: -1.13rem !important;
}

//End of slider