.shopping-cart__products {
  .products__item {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type='number'] {
      -moz-appearance: textfield;
      max-width: 20px;
      padding: rem(0) rem(5);
      text-align: center;
      border: none;
      background: none;
    }
    .product-price {
      max-width: rem(150);
      width: 100%;

      color: var(--cl-green);
      font-weight: bold;
      .product-price {
        .product__quantity {
          .quantity-arrow-minus,
          .quantity-arrow-plus {
            cursor: pointer;
            font-size: 20px;
            padding: 5px 12px;
            width: 40px;
            box-sizing: border-box;
            border-radius: 4px;
            outline: none;
          }
          .quantity-num {
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 4px;
            outline: none;
          }
        }
      }
    }
  }
}