.product-page__container {

  .product-page {
    &__info {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-transform: uppercase;
    }
    &__availability {
      font-size: rem(13);
      color: var(--cl-lightgreen);
      font-weight: bold;
      margin-top: rem(100);
      margin-bottom: 0.5rem;
    }
    &__title {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.167;
    }
    &__model {
      font-size: rem(16);
      color: var(--cl-lightgray);
      font-weight: lighter;

      margin-top: 0.5rem;
    }
    &__description {
      font-size: rem(14);
      color: var(--cl-lightgray);
      text-transform: none;

      padding: rem(50) 1.3rem;
    }

    &__buy-by-one-click {
      font-size: rem(12);
      color: rgb(102, 207, 233);
      font-weight: bold;
      padding-left: 1rem;
    }
    &__options {
      max-width: rem(550);//530
      margin-top: rem(50);

      border-bottom: 1px solid lightgray;
      .options__item {
        font-size: rem(14);
        font-weight: bold;
        flex: 1;

      }
      .active {
        border-bottom: 3px solid var(--cl-green);
        margin-bottom: -1px;
        background: inherit;
      }
    }
    .sticker {
      display: flex;
      margin: auto;
      margin-top: -1px;
    }
  }
  //for tabs
  .nav-link{
    border: none;
    padding-left: 0rem;
  }
  .tab-pane{
    padding: rem(10) rem(0);
    text-transform: none;
    max-width: rem(530);
  }
  //for buttons

  .product-page__preview {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
.options__imgs {
  justify-content: space-around;
  max-width: rem(375);

  margin-top: 1rem;
  margin-bottom: 2rem;
  img {
    width: 11rem;
  }
}
.swiper-container {
  width: 300px!important;
  height: 200px!important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
//
//.swiper-slide {
//  text-align: center;
//  font-size: 18px;
//
//
//}
//.swiper-container {
//  width: 200px!important;
//
//  height: 200px!important;
//}
//.swiper-slide{
//
//  background: inherit!important;
//}.swiper-wrapper{
//   display: flex;
// flex-direction: column;
//   max-width: 400px!important;
//  height: 200px!important;
// }