.section-filters__container,
.product-page__options,
.product-page__container,
.options__imgs{
  display: flex;
  justify-content: space-between;
}

.section-filters__container {
  .section-filters__title--price{
    @extend .section-filters__title;
    font-size: 1.6rem;
    font-weight: bold;
    .quantity {
      text-transform: uppercase;
      text-decoration: line-through;

      margin-bottom: auto;
      margin-left: 0.2rem;
    }
  }
}


