//.swiper-container {
//  width: 100%;
//  height: 100%;
//}
.swiper-slide {
  //text-align: center;
  //font-size: 18px;
  //background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.swiper-wrapper{
  margin: auto;
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
}
.swiper-container {
  border: 2px solid violet;
  overflow: hidden;
  position: relative;
}
.gallery-top {

}
.swiper-button-prev{
  content: "";
  color: var(--cl-dark);
  width: 20px;
  height: 50px;
  background-color: lightgreen;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-button-next{
  width: 20px;
  height: 50px;
  background-color: lightgreen;
  z-index: 55555;
  position: absolute;
  top: 0;
  right: 0;

}
.gallery-thumbs{

}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}