.questions {
  //padding: rem(80) rem(0);
  padding-bottom: rem(80);
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    position: relative;
  }
  &__item {
    margin: rem(20) rem(0);

    border: 1px solid var(--cl-green);
    background: #eff9f9;

    min-width: 43%;
    max-width: rem(500);
    position: relative;
    .item__content {
      padding: rem(20);
    }
  }
  .plus {
    display: flex;
    font-size: rem(24);
    color: var(--cl-blue);
    width: rem(24);

    left: 100%;
    top: 100%;
    padding: 0.5rem;

    border: 1px solid var(--cl-green);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--cl-white);

    z-index: 5;
    position: absolute;
  }
}
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .questions{
    &__container{
      flex-direction: column;

    }
    &__item{
      max-width: 80%;
      margin: rem(20) auto;


    }
  }
}