.shopping-cart{
  .info__container {
    input[type=radio] {
      display: none;
      position: relative;
    }

    input[type=radio] + label:before {
      content: "";
      color: transparent;
      font-size: 1rem;

      border: 1px solid var(--cl-silver);
      margin: -5px 5px 0 0;
      height: 1rem;
      width: 1rem;

      text-align: center;
      vertical-align: middle;
      transition: color ease .3s;

      display: inline-block;
      position: relative;
      left: 0px;
    }
    input[type=radio]:checked + label:before {
      color: var(--cl-dark);
      background: url("/img/validate-ok.svg");
      height: 1rem;
      width: 1rem;
    }
  }
}