.section-filters {
  border-bottom: 1px solid lightgrey;
  &,
  &__container,
  &__title,
  &__sort-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    box-sizing: border-box;
  }
  &__title,
  &__sort-by {
    padding-bottom: 10px;
  }
  &__title {
    flex: 4;
    justify-content: center;
    position: relative;

    max-width: 20.24rem;
    min-width: 10rem;
    margin-bottom: -2px;

    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--cl-green);

    border-bottom: 3px solid var(--cl-green);
    .icon-icon-filter{
      font-size: 1.4rem;
      padding: rem(6) rem(10) rem(15);
      border-bottom: 3px solid transparent;
      margin-bottom: -13px;
    }
  }
  &__sort-by {
    flex: 1;
    max-width: 54.76rem;
    min-width: 20rem;

    margin-bottom: 1px;
    padding-right: 2.9rem;

    font-size: 1rem; //0.86
    letter-spacing: -0.3px;
    text-transform: lowercase;
    color: var(--cl-lightgray) ;
    .sort-by:hover {
      color: var(--cl-green)!important;
    }
  }
}
