.show-more {
  padding: rem(10) 3.8rem rem(10) 0rem;
  margin-top: auto;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  justify-content: flex-end;
  &:after {
    content: "";
    //position: absolute;
    background: url("/img/show-more.png") no-repeat;
    background-size: cover;
    width: rem(25);
    height: rem(21);
   margin-bottom: rem(1);
    margin-left: rem(5);
  }
  &--arrow-right{
    padding-right: 2rem;
    &:after {
      background: url("/img/icon-right-arrow.svg") no-repeat right;
      background-size: contain;
      margin-top: 1px;

      width: 10px;
      height: 19px;

    }
  }
}

.filter {
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    color: $green !important;
  }
}