.shopping-cart {
  margin-top: rem(20);
  border-top: 1px solid lightgrey;
  .shopping-cart__container,
  .products__item,
  .product-price,
  .product-info {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    margin-bottom: rem(20);
  }
  &__h1 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: rem(5);
    margin: rem(40) rem(0);
    strong {
      color: var(--cl-green);
    }
  }
  legend {
    text-transform: uppercase;
    color: var(--cl-lightgreen);
  }
  &__products,
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__products {
    width: 100%;
    max-width: rem(800);
    .products {
      margin-top: rem(11);
      &__item {
        align-items: center;
        border: 1px dashed lightgrey;
        padding: rem(0) rem(30);
        &:hover {
          border-color: var(--cl-blue);
        }
        .product {
          &__name {
            &:hover {
              color: var(--cl-blue);
            }
          }
          &-photo {
            position: relative;
            max-width: rem(200);
            width: 100%;
            img {
              width: rem(180);
            }
          }
          &-photo:after {
            content: "";
            position: absolute;
            left: 100%;
            bottom: 50%;
            height: 50%;
            width: 1px;
            border-right: 1px solid lightgrey;
            transform: translate(0%, 50%);
          }
          &-info {
            flex-direction: column;
            max-width: rem(350);
            width: 100%;

            .product__parameters {
              color: var(--cl-lightgray);
              font-size: rem(14);
              strong, span {
                color: var(--cl-lightgreen);
              }
              span {
                padding: rem(0) rem(10);
              }
            }
          }
        }
      }
    }
  }
  &__total {
    text-align: right;
    .shopping-cart__h1 {
      border-bottom: none;
      letter-spacing: 1px;
      strong {
        color: var(--cl-white);
        background: var(--cl-blue);
        padding: rem(5) rem(15);
        margin: rem(0) 0rem rem(0) rem(10);
      }
    }
  }
}




