.shopping-cart{
  &__info {
    .shopping-cart__customer,
    .shopping-cart__bottom,
    .delivery__address,
    .delivery__department {
      display: flex;
      justify-content: space-between;
    }
    margin-left: rem(30);
    fieldset {
      padding: 0 8px;
      border: 1px dashed lightgray;
    }
    legend {
      padding: rem(0) rem(10);
    }
    .shopping-cart__customer {
      flex-direction: column;

      max-width: rem(500);
      padding: rem(0) rem(8) rem(8);
      margin: 0rem;
      border: none;
      input::placeholder {
        color: var(--cl-silver);
      }
      label {
        font-size: rem(14);
        color: var(--cl-lightgray);
      }
      .customer__name,
      .customer__phone {
        display: inherit;
        flex-direction: column;
        @extend .delivery__department;
        input {
          width: 88.5%;
          padding: rem(0) rem(20);
        }
      }
    }

    .delivery__address,
    .delivery__department {
      margin: rem(5) rem(0);
      .form-control {
        border-radius: rem(2);
        border: 1px solid var(--cl-silver);
        background: none;
        color: var(--cl-silver);
        font-weight: bold;
      }
    }
    .delivery {
      &__point {
        display: flex;
        flex-direction: column;

        padding: rem(10) rem(20);
      }
      &__input {
        label {
          color: var(--cl-silver);
          text-transform: uppercase;
          font-weight: bold;
          font-size: rem(13);
        }
        input[type="radio"]:checked + label {
          color: var(--cl-dark) !important;
        }
      }
      &__department {
        select {
          background: url("/img/arrow-bottom.svg") no-repeat 95.1% center !important;
        }
      }
      &__pay-by {
        select {
          border: 1px dashed lightgrey !important;
          border-radius: 0px !important;
        }
      }
      &__address {
        select {
          max-width: 49.5%;
        }
      }
    }
    .form-control:active,
    .form-control:checked,
    .form-control:hover,
    .form-control:focus {
      border-color: var(--cl-green);
      color: var(--cl-dark);
    }
    select, option {
      font-family: $font-family-primary;
      font-weight: bold !important;
    }
    select {
      appearance: none !important;
      background: url("/img/arrow-bottom.svg") no-repeat 90% center !important;
    }
    .shopping-cart__bottom {
      align-items: center;

      margin: auto;
      padding: rem(30) rem(10);
      .btn--watch {
        margin: 0rem;
        padding: rem(10) rem(20);
      }
    }
  }
}