.advantages{
  &__container{
    max-width: rem(1400)!important;
    margin: rem(50) auto rem(60);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &__item{
    max-width: rem(400);
    .item__text{
      position: relative;
      padding-left: rem(50);
      .item__h1{
        font-size: rem(28);
        color: var(--cl-green);
      }
      .item__h2{
        margin-top: rem(10);
        font-size: rem(16);
      }
    }
    .item__text:before{
      content: "";
      position: absolute;
      background: url("/img/warranty.svg") no-repeat;
      background-size: contain;
      width: rem(60);
      height: rem(60);
      left: rem(-30);
      top: 50%;
      transform: translate(0%, -50%);
    }
    .item__text--delivery:before{
      background: url("/img/delivery-to-russia.svg") no-repeat;
    }
    .item__text--consultation:before{
      background: url("/img/consultation.svg") no-repeat;
    }
  }
}