.sticker {
  $offset: 18px;
  --sticker-fill: #68c96a;

  display: flex;

  height: 18px;

  color: $white;
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;

  background: var(--sticker-fill);

  &:before,
  &:after {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    content: "";
    border: 18px solid transparent;
    border-bottom: none;
  }
  &:before {
    left: -$offset;

    border-right: 0px solid var(--sticker-fill);
    border-top: 18px solid var(--sticker-fill);
  }
  &:after {
    right: -$offset;

    border-top: none;
    border-left: 0px solid var(--sticker-fill);
    border-bottom: 18px solid var(--sticker-fill);

  }
  &--red {
    --sticker-fill: #f65656;

  }
  &--azure {
    --sticker-fill: #00bd9d;

    left: 38%;
  }
}
