// Beginning Тип очков/typeof-glasses & checkbox settings
.content__typeofs {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 92%;
  margin: auto;
}

.content__typeofs,
.delivery__service {

  /* прячем input checkbox */
  input[type="checkbox"] {
    display: none;
  }

  /* стили для метки */
  label {
    color: $dark;
    font-size: 14px;
    cursor: pointer;
  }

  /* формируем внешний вид чекбокса в псевдоэлементе before */
  label:before {
    content: " ";
    color: $lightgreen;
    display: inline-flex;

    position: relative;
    left: 100%;

    text-align: center;
    width: 20px;
    height: 20px;
    background: inherit;

    border-image: initial;
    vertical-align: middle;
    display: none;
  }

  /* вариации внешнего вида в зав-ти от статуса checkbox */
  /* checked */
  input:checked + label:before {
    content: "";
    position: absolute;
    font-weight: bold;

    //box-shadow: 0px 0px 8px #00bd9d;
  }
  /* disabled */
  input:disabled + label:before {
    background: inherit;
    color: inherit;
  }
}

.face-shape-content {
  .link__label {
    i {
      margin-right: 0.5rem;
    }
  }
}

.checkbox {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  .checkbox__label {
    transition: 0.2s;
  }
  .checkbox__label:hover,
  .checkbox__input:checked + .checkbox__label {
    color: $lightgreen;
    transition: 0.2s;
  }
}

.delivery__service {
  max-width: rem(500);
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  .content__typeofs {
    justify-content: normal;
  }
  .checkbox {
    img {
      width: rem(80);
      border: 1px solid transparent;
      filter: grayscale(100%);
      opacity: 0.65;
      transition: 0.5s;
    }
    .checkbox__label:hover {
      img {
        opacity: 1;
        transition: 0.5s;
      }

    }
    .checkbox__input:checked ~ label > img {
      opacity: 1;
      border: 1px solid var(--cl-dark);
    }
  }
}

// End of Тип очков/typeof