.we-work {
  padding: rem(100) rem(0);
  h1 {
    color: var(--cl-dark);
  }
  .we-work__content,
  .content__item{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__content {
    padding: rem(0) rem(20);
    .content__item {
      align-items: center;

      width: rem(240);
      min-width: rem(60);
      :hover {
        background: var(--cl-dark-lgt);
      }
      img {
        padding: rem(40) rem(30);
        background-size: cover;
      }
    }
  }
}