.why-we {
  background: url("/img/why-we.png") no-repeat;
  background-size: cover;
  display: flex;
  &__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }
  &__description {
    flex: 1;
    display: flex;
    background: rgba(84, 222, 253, 0.44);

    .description__container {
      display: flex;
      flex-direction: column;
      max-width: rem(700);
      margin: rem(100) rem(60) rem(100) auto;
    }
    .description__item {
      display: flex;
      align-items: center;
      position: relative;
      margin: rem(30) rem(50);
      h1 {
        color: var(--cl-white);
        font-size: rem(22);
      }
      h2 {
        color: var(--cl-dark);
        font-size: rem(18);
      }
      .description__photo {
        width: rem(40);
        margin-right: rem(30);
      }
    }
    .description__item:before {
      content: "";
      position: absolute;
      background: url("/img/warranty.svg") no-repeat center;
      background-size: contain;
      margin-left: rem(-60);
      width: rem(40);
      height: rem(40);
    }
    .description__item--delivery-icon:before {
      background: url("/img/delivery-to-russia.svg") no-repeat center;
      background-size: contain;
    }
    .description__item--consultation-icon:before {
      background: url("/img/consultation.svg") no-repeat center;
      background-size: contain;
    }
    .description__item--support-icon:before {
      background: url("/img/support.svg") no-repeat center;
      background-size: contain;
    }

  }

  &__form {
    display: flex;

    background-color: rgba(0, 189, 157, 0.66);
    color: var(--cl-white);
    flex: 1;
    .form__container {
      display: flex;
      flex-direction: column;
      margin: rem(150) rem(50);
      max-width: rem(500);
      h1 {
        font-size: rem(38);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        max-width: rem(400);
      }
      .form__description {
        max-width: rem(520);
        margin: rem(20) rem(0);
      }
    }
    .form__inputs {
      display: flex;
      flex-direction: column;
      margin-top: rem(40);
      input {
        max-width: rem(290);
        margin: rem(5) rem(0);
        background: none;

        text-transform: uppercase;
        border: 1px solid var(--cl-white);
        outline: none;
        padding: rem(10) rem(15);
        color: var(--cl-white);
      }
      input[type="text"]::placeholder {
        color: var(--cl-lightgreen-lgter);
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .why-we {

    .description {
      &__item,
      &__container {
        margin-left: 3rem;
        margin-right: 1rem;
      }

    }
  }
}