footer {
  background: var(--cl-green);
  text-transform: uppercase;
}

.section-footer,
.licence__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: auto;
}

.section-footer {
  align-items: normal;
  &__contact-us {
    align-items: center;
  }
  &__item {
    &--title {
      color: var(--cl-lightgreen-ftr);
      font-size: 0.93rem;
      font-weight: normal;
      padding: 1.33rem 0rem 0.67rem;

      border-bottom: 1px solid var(--cl-lightgreen-ftr);
    }
    &--links {
      display: flex;
      flex-direction: column;
      padding-top: 1.33rem;
    }
    &--link {
      font-size: 1rem;
      color: var(--cl-dark-lgt);
      padding-left: 0.66rem;
      padding-right: 0.66rem;
      border-left: 3px solid var(--cl-lightgreen-ftr);
      margin-top: 0.33rem;
      margin-bottom: 0.33rem;
      transition: 0.15s;
      &:hover {
        background-color: var(--cl-lightgray);
        color: var(--cl-silver) !important;
        transition: 0.2s;
        cursor: default;
      }
    }
    &--payment {
      @extend .section-footer;

      padding-top: 2.67rem;
      max-width: 16.67rem;
      .payment__item {
        padding-top: 1rem;
        filter: grayscale(100%);
      }
      .mastercard {
        background: url("/img/Mastercard.svg") no-repeat bottom;
        background-size: contain;
        width: 2.93rem;
        height: 1.6rem;
      }
      .yamoney {
        background: url("/img/YMoney.svg") no-repeat bottom;
        background-size: contain;
        width: 5.93rem;
        height: 1.53rem;
      }
      .sberbank {
        background: url("/img/Sberbank.svg") no-repeat bottom;
        background-size: contain;
        width: 5.2rem;
        height: 1.33rem;
      }
      .visa {
        background: url("/img/Visa.svg") no-repeat bottom;
        background-size: contain;
        width: 4.27rem;
        height: 1.33rem;
      }
      .paypal {
        background: url("/img/PayPal.svg") no-repeat bottom;
        background-size: contain;
        width: 5.4rem;
        height: 1.33rem;
      }
      .webmoney {
        background: url("/img/WebMoney.svg") no-repeat bottom;
        background-size: contain;
        width: 5.53rem;
        height: 1.33rem;
      }

    }

    &--phones {
      font-size: 2rem;
      font-weight: bold;
      color: var(--cl-white);

      padding-top: 2.67rem;
    }

    &--address {
      padding-top: 2rem;
      padding-bottom: 2.67rem;
      .address__link {
        display: flex;
        align-items: center;
        line-height: 2;

        font-size: 1.47rem;
        font-weight: bold;
        color: rgba(0, 19, 30, 0.74);
        &--img {
          padding-right: 0.67rem;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }

    &--socials {
      display: flex;
      align-items: center;
      justify-content: space-around;

      background-color: #42ceb6;
      border-radius: 2rem;

      min-width: 33.3rem;
      max-width: 40rem;

      color: var(--cl-white);
      text-transform: lowercase;

      padding-right: 0.8rem;
      .socials__item {
        display: inherit;
        align-items: center;

        padding: 0.67rem 0rem;
      }
      i {
        font-family: "Font Awesome 5 Brands" !important;
        margin: rem(5) rem(15) !important;
        color: var(--cl-green);
        font-size: rem(38);

        font-weight: bold;
      }
    }
  }

  &__licence {
    height: 2.67rem;
    background-color: var(--cl-dark);
    .licence__container {
      max-width: 82rem;
      min-width: 15rem;
    }
    .licence__item {
      font-size: 0.8rem;
      color: $light-text;
    }
  }

}