.header {
  .header__first,
  .header__info,
  .header__menu {
    display: flex;
    justify-content: space-between;
  }
  &__first {
    flex-flow: row wrap;

    font-size: 0.87rem;
    color: (darken($silver, 25%));
  }
  &__menu {
    z-index: 555;
    &--container {
      display: flex;
      justify-content: space-between;
      margin: auto;

      max-width: 78rem;
      min-width: 15rem;
      width: 100%;
    }
    &--is-icon {
    }
  }

  &__logo {
    max-width: 9.8rem;
    min-width: 5rem;
    width: 100%;
    height: 2.33rem;

    background: url("/img/logo.png") no-repeat;
    background-size: cover;
  }
  .header__info {
    flex-wrap: nowrap;
    max-width: 28rem;
    min-width: 10rem;
    width: 100%;
  }
}

.menu {
  display: flex;

  max-width: 49.3rem;
  min-width: 10rem;
  padding: 2rem 0rem;
  &--is-icon {
    .menu__link {
      &:not([data-icon-menu='']) {
        &:before {
          display: inline-flex;
          padding-right: 10px;
          font-family: icomoon;
          font-size: 1rem;
          content: attr(data-icon-menu);
          //@include pseudo-icon(\e90e);
        }
      }

    }
  }
  &__link {
    display: inherit;
    align-items: center;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: 0.93rem;
    font-weight: bold;

    text-transform: uppercase;
    line-height: 1.2;
    padding: 0rem 0.33rem;
    margin-right: 1rem;
    &:hover {
      color: var(--cl-green) !important;
    }
  }
  .active {

    color: var(--cl-green) !important;
    box-shadow: inset 0px -8px 0px 0px rgba(226, 228, 229, 0.5);
  }
  &__links {
    display: inherit;
    margin-left: auto;
  }
  &__form {
    @extend .menu__link;
    padding-right: 0.67rem;
    color: $lightgray !important;
    font-size: 1.25rem;
    position: relative;
    z-index: 5;
  }
}

.phone__block {
  color: $color-text;
  font-size: 1.47rem;
  font-weight: bold;
  line-height: 1;

  margin-left: 2rem;
}

.mail__block {
  color: var(--cl-green);
  font-size: 1.2rem;
  text-align: right;
}

.default {
  max-width: 78rem;
  min-width: 15rem;
  margin: auto;
}

.fixed {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;

  background-color: #FFFFFF;
  margin: auto;
  box-shadow: 2px 2px 10px var(--cl-lightgray);
}

.basket__counter {
  position: relative;
  font-size: 1.4rem;
  padding-right: 0px;

  &:after {
    content: "12";
    position: absolute;
    border-radius: 50%;
    background-color: var(--cl-green);

    padding: 4px;
    margin-left: 13px;
    margin-bottom: 1rem;

    font-size: 0.55rem; //0.67
    font-weight: normal;
    color: $white;
  }
}

.menu__search:hover {
  i {
    color: #FFFFFF;
  }
}

#search {
  position: relative;
  margin-right: -25px;
  border: 1px solid var(--cl-green);
  border-right: 30px solid var(--cl-green);
  padding: 3px 3px 3px 15px;
  border-radius: 15px;
  background-color: rgb(255, 251, 250);
  z-index: -1;
  opacity: 0;
  width: 0px;
  transition: 0.4s;
  transition-timing-function: ease-out;
  outline: none;
}

input[placeholder] {
  font-family: $font-family-primary;
  color: var(--cl-lightgray);
}