//Beginning Product hover carts
.product-cart__top {
  font-size: 1.6rem;
  color: var(--cl-lightgreen);
  button {
    border: none;
    background: inherit;
  }
}

.btn--add-cart,
.btn--add-favorite {
  font-size: inherit;
  color: inherit;
}

.in-basket {
  img {
    border: 1px solid var(--cl-green);
    box-sizing: border-box;
  }
  .product-cart__top {

    button{
      opacity: 1!important;
    }
    .btn--add-favorite {
      opacity: 0!important;
    }
    .btn--add-cart {
      color: var(--cl-green);
    }
  }
  :hover {
    .product-cart__top {

      .btn--add-favorite {
        opacity: 1!important;
      }
    }
  }
}
// End of Product hover carts
//Buttons in Product Page
.product-page__buttons {
  display: inherit;
}
.product-page__button {
  display: inherit;
  align-items: center;

  font-size: 1rem;
  color: var(--cl-dark-lgter);
  font-weight: bolder;

  border: none;
  border-radius: 2rem;
  outline: none;

  margin-right: 1rem;
  padding: 0.6rem 1.8rem;

  background-color: var(--cl-lightgreen-lgter);
  z-index: 5;

  i {
    font-size: 1.3rem;
    margin-right: 0.4rem;
  }
}
.btn--watch {
  background-color: rgb(168, 174, 178);
  border-radius: 1.2rem;
  border: none;
  outline: none;

  font-weight: bold;
  text-transform: uppercase;
  color: var(--cl-white);

  max-width: rem(160);
  padding: 0.6rem 1rem;
  margin-top: 2rem;
}
.btn--show-more {
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  outline: none;


  background: var(--cl-white);
  padding: 0.5rem 1.5rem;
  display: flex;

  margin: rem(100) auto auto;
}
.btn--price {
  padding: rem(10) rem(15);
  margin: rem(15) rem(0);

  color: var(--cl-white);
  text-transform: uppercase;

  background: none;
  border: 1px solid var(--cl-white);
  border-radius: 1.5rem;

  max-width: 12rem;
}